body {
    background-color: #2e9598;
    /* background-color: #f7db69; */
    /* background-color: #f26a44; */
    /* background-color: #ec1b4b; */
    /* background-color: #a8216b; */

    padding: 0px;
    margin: 0px;
    border: 0px;

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;

    width: 80vw;
    max-width: 600px;
}

/* Contains the text. */
p {
    /* background-color: #2e9598; */
    /* background-color: #f7db69; */
    /* background-color: #f26a44; */
    /* background-color: #ec1b4b; */
    /* background-color: #a8216b; */

    background-color: #f34ca8;

    padding: 5px;
    margin: 0px;
    border: 0px;

    font-size: x-large;
}

h1 {
    /* background-color: #2e9598; */
    /* background-color: #f7db69; */
    /* background-color: #f26a44; */
    /* background-color: #ec1b4b; */
    background-color: #a8216b;

    padding: 5px;
    margin: 0px;
    border: 0px;

    font-size: xx-large;
}
